<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>DL-Vindicators</title>
  </head>
  <body>
	<div class="container">
		<div class="page-header" align="center" class="font-weight-bold">
			<h1 class="text-primary" style="font-family: cursive;"><b>DEEP TITLES</b></h1>      
		</div>
		<form method="post" action=''>
			{% csrf_token %}
			<div class="form-group">
				<textarea name='abstract' class="form-control" id='abstract' aria-describedby="absHelp" placeholder="Enter your abstract" rows="10" required>{{abstract}}</textarea>
				<small id="absHelp" class="form-text text-muted">Uses deep learning to generate titles from technical paper abstracts.</small>
			</div>
				<button align="center" type="submit" class="btn btn-primary">Generate Title</button>
		</form>      
	</div><br/><br/><br/>
	<div class="container">
		{% if title %}
			<div class="jumbotron" align="center">
				<h2 class="text-secondary" style="font-family: Fantasy;">{{title}}</h2>      
			</div>
		{% endif %}
	</div>
  </body>
</html>